<div class="questionContainer" *ngIf="questions && pointsToWin != 0">
    <div>
        <p id="questionText">✨ QUESTION FLASH ✨</p>
        <div *ngIf="rounds < 2">
            <app-timer [time]="60" (ended)="counterFinished()"></app-timer>
        </div>
    </div>
    <div id="test">
        <div class="pointDiv">
            <p class="pointText" >Points pour gagner: </p>
            <app-counter class="pointText" [points]="pointsToWin"></app-counter>
        </div>
        <div class="pointDiv">
            <p class="pointWonText">Points gagnés: </p>
            <p class="pointWonText">{{ pointsWon }}</p>
        </div>
    </div>
    <ng-container *ngFor="let flashQuestion of questions; index as i">
        <app-flash-box
        [flashQuestionId]="i"
        [delayIndex]="i"
        (revealed)="onBoxRevealed($event)"
        ></app-flash-box>
    </ng-container> 

    <ng-container *ngIf="revealedCount >= totalAnswers;">
        <button-component button-text="RESULTATS" (buttonClick)="seeResults()" id="resultButton"></button-component>
    </ng-container>  
</div>